*
!*.*
!*/

!Makefile

*.pb.go
*.micro.go

.idea
.idea/*

*.exe
.exe
.exe~

vendor
*.db
go.sum

.DS_Store
*/.DS_Store

*.log

api/*/*.log

*.zip

*/logs
ego.sys
ego.sys.*

node_modules

.vscode
.zip

internal/password/password.txt

bitcask